.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    transition: opacity 0.3s ease;
  }
  
  .sidebar {
    width: 300px;
    // padding: 25px;
    background: white;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    .sidebar-content{
        // padding: 25px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        // gap: 20px;
    }

    .btn-close{
        // padding: 10px 5px;
        padding-left: 20px;
        padding-bottom: 20px;
        // margin-bottom: 15px;
    }
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  