body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #ececec;
  background-color: #e8dcdc;
}


.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      padding:0 10px;
      margin: 0 10px;
      height: 50px;
      background-color: #be1529;
      color: #fff;
      border: none;

      &:hover {
        background-color: #a50e1d;
      }
    }

    
    .btn-signup {
      border-radius: 5px;
      padding:0 17px;
      height: 50px;
      background-color: #be1529;
      color: #fff;
      border: none;

      &:hover {
        background-color: #a50e1d;
      }
    }
    .navbar {
      background-color:#1fad4a!important;
      z-index: 10;
    }
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
    }

    .nav-link {
      color: white;
  }

  .row {
    --bs-gutter-x: 0.5rem;
}
    
  }

 .homepage-container{
    margin: 15px;
    .homepage-content{
      margin:0 70px;
      .category-sidebar{
        padding: 0 0;
        .category-list{

          background-color: #fff;
          padding:10px 0px;
          border-radius: 7px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          // max-width: 170px;
          max-height: 500px;
          overflow-y: auto;
  
        
  
          .category-item {
            text-align: left;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            list-style: none;
            border: none ;
            &:hover{
              background-color: #878787;
            }
          }
        }
      }

      .carousels-banner{
        background-color: #fff;

        .casourel {
          position: relative;
          width: 100%;
          height: 500px;
          overflow: hidden;
          border-radius: 7px;

        }
        
        .casourel-images {
          position: relative;
          width: 100%;
          height: 100%;
        }
        
        .carousel-image {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
          transition: opacity 1s ease-in-out;
        }
        
        .carousel-image.active {
          opacity: 1;
          z-index: 1;
        }

      }  

      .r-2 {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-top: 30px;
        border-radius: 7px;
        &.row {
          margin-left: -11px;
          margin-right: 20px;
        }
        .selling-point-item {
          width: 20%;
          padding:10px 15px;
          padding-top: 10px;

          
    
        }
      }

      .r-3{
        // box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-top: 30px;
        background-color: #ffffff;
        &.row {
          margin-left: -26px;
          margin-right: 0;
        }
        .list-flash-sale{
          width: 100%;
          .product-item{
            min-height: 400px;
            margin-left: 12px;
            padding-top: 10px;
            cursor: pointer;
            border-radius: 7px;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
  
            &:hover{
              transform: scale(1.05);
              box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
            }
           }
        }
      }

    }
 }


}


